<h1>Restaurant#index</h1>
<p>Find me in app/views/restaurant/index.html.erb</p>

<h1>My list of restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <h2><%= restaurant.name %></h2>
  <p><%= restaurant.address %></p>
  <%= link_to "edit", edit_restaurant_path %>
  <%= link_to "rate", edit_restaurant_path %>
<% end %>

<p><%= link_to "add a new restaurant", new_restaurant_path %></p>


